{% extends 'navigation.html' %}
{% load django_bootstrap5 %}
{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'polls/profile_edit.css' %}">
  
<div class="container mt-5">
    <div class="box2 p-4 rounded shadow-lg bg-white">
        {% if form.errors %}
            <div class="alert alert-danger mb-4">ログイン名とパスワードが一致しません。</div>
        {% endif %}
        <section>
            <header>
              <h2 class="account-info-title">アカウント情報</h2>
            </header>
            <form method="post" action="{% url 'profile_edit' %}" class="space-y-4" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label class="form-label" for="username">名前</label>
                    <input value="{{ request.user.username }}" class="form-control" name="username" type="text" required="required" />
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="email">メールアドレス</label>
                    <input value="{{ request.user.email }}" class="form-control" name="email" type="email" />
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">自己紹介</label>
                    <textarea class="form-control" name="description" rows="6">{{ request.user.description }}</textarea>
                </div>

                <div class="d-flex justify-content-between">
                    <a href="{% url 'profile' %}" class="btn btn-outline-secondary btn-lg">戻る</a>
                    <button type="submit" class="btn btn-primary btn-lg">保存</button>
                </div>
            </form>
        </section>
    </div>
</div>

{% endblock %}
